/* Header Styles */
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../media/home-back.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust opacity as needed */
  }
  
  /* Grid Styles */
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: -4em;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }

  @media screen and (max-width: 768px) {
    /* Adjust the number of columns for mobile view */
    .grid-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 20px auto;
      margin-top: -4em;
      justify-content: space-between;
      padding-left: 0%;
      padding-right: 0%;
    }
  }    
  
  .grid-item {
    flex-basis: calc(40% - 10px);
    padding: 20px;
    margin: 10px;
  }
  .headerSection{
    color: #FFB336;
    font-weight: 700;
    font-size: 24px;
  }
  .section{
  
    font-size: 70px;
    line-height: 84.7px;
  }
  .subSection{
    width: 344px;
    font-size: 18px;
  }
  .innerText{
    color: #89CFF0;
  }
  .headerSection{
    padding:"15%";
    margin-top:"15%";
    text-align:"center"
  }
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .grid-item {
      flex-basis: 100%;
    }
    .mainHeader {
      text-align: center;
      margin-bottom: 3%;
      padding: 0% !important;
      margin-top: 0% !important;
  }  
    .headerSection{
      margin-top: 0%;
    }
    .section{
      width: 340px;
      height: 70%;
      font-size: 40px;
      line-height: 60px;
    }
    .py-10 {
      padding-top: 2.5rem;
      padding-bottom: 0rem
  }
  }
  