html, body{
    
}
.contact-container {
    font-family: quicksand;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .map-container {
    flex: 1;
    padding: 20px;
    height: 400px;
  }
  
  .form-container {
    font-family: Quicksand;
    flex: 1;
    padding: 20px;
  }
  .textArea{
    padding: 12px;
  }