.topbar-nav{
  display: flex;  /* Make Flex container */
  justify-content: center; /* Center horizontally */
}
.topbar-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topbar-nav li a{
  font-size: 18px;
  font-family: quicksand;
  font-weight: 700;
  display: flex;
  float: right;
  color: white;
}
.topbar-dropdowns{
  /* margin-bottom: 3em; */
  color: white;
}
.my-select-box .my-select-box-btn {
  width: 100%;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}
.my-select-box .my-select-box-section {
  width: 149px;
  background-color: #FFF;
  color: #000;
}
.login-btn{
  padding: 7px 40px 7px 40px;
  width: 134px;
  font-family: "Quicksand";
  background-color: #FFFFFF !important;
  border-radius: 45px;
  color: black;
  font-weight: 700 !important;
  font-size: 18px !important;

}
.logoHeader{
  margin-top: 0.5em
}
.topbar a{
  font-size: 18px;
  font-family: quicksand;
  font-weight: 700;
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  color: white;
}
.topbar a:hover{
  background-color: rgba(0,0,0,0.7);
  color: white;
}
/* .active{
  background-color: #1ebba3;
} */